<%= render partial: 'shared/thape_nav', locals: { nav_background: 'transparent', show_debug: false } -%>

<div data-controller="service"
     data-action="resize@window->service#layout">

<div class="relative h-screen">
  <%= image_pack_tag 'media/images/consluting.jpg', data: { target: "service.bgImg" } -%>
  <div class="absolute bottom-0 inset-x-0 bg-white opacity-75" data-target="service.introDiv">
    <div class="sm:flex px-10 sm:px-20 md:px-32 lg:px-40 xl:px-48 xxl:px-56 xxxl:px-64">
      <dt class="font-medium text-black6c pt-7 pb-4 px-5">
        <h1 class="text-3xl font-bold">技术咨询</h1>
        <h2 class="text-xl font-medium">CONSULTATION</h2>
      </dt>
      <dd class="text-sm font-light text-black6c pt-7 pb-4 px-5">
        <p>基于天华在民用建筑设计领域数十年的耕耘，天华技术咨询厚积薄发，源于设计，高于设计，可提供项目全生命周期的技术顾问咨询服务，服务范围涵盖选型优化、效果实现、成本预控、超高超限分析、新技术研发和应用（PC、BIM、钢结构...）、 标准编制、第三方审核、抗震审批、更新改建等。</p>
        <p>通过我们先进的技术、高效的组织和优质的服务，能够最大限度地实现客户的价值目标，为节能环保型社会做出贡献。</p>
      </dd>
    </div>
  </div>
</div>

</div>
