<%= render partial: 'shared/thape_nav', locals: { nav_background: 'transparent', show_debug: false } -%>

<div data-controller="service"
     data-action="resize@window->service#layout">

<div class="relative h-screen">
  <%= image_pack_tag 'media/images/planning.jpg', data: { target: "service.bgImg" } -%>
  <div class="absolute bottom-0 inset-x-0 bg-white opacity-75" data-target="service.introDiv">
    <div class="sm:flex px-10 sm:px-20 md:px-32 lg:px-40 xl:px-48 xxl:px-56 xxxl:px-64">
      <dt class="font-medium text-black6c pt-7 pb-4 px-5">
        <h1 class="text-3xl font-bold whitespace-no-wrap">城市规划</h1>
        <h2 class="text-xl font-medium">URBAN PLANNING</h2>
      </dt>
      <dd class="text-sm font-light text-black6c pt-7 pb-4 px-5">
        <p>天华规划，秉持以责任规划城市的可持续发展理念，以国际化大都市先进发展经验为基础，鼓励跨行业多视角的合作，追求资源整合效率的最大化，并致力于成为全球最佳城市发展咨询合作伙伴。天华规划年轻而有活力的团队毕业于世界各地的一流院校，拥有多名博士及博士后，硕士学历超过三分之二，视野兼具专业深度与全球广度。</p>
        <p>天华规划在以下七大领域各有建树:产业经济 | 城市中心 | 社区发展 | 生态环境 | 遗产保护 | 交通规划 | 休闲游憩 能够承担从区域战略规划、总体规划到详细规划、城市设计以及交通、景观、低碳、村镇及遗产保护等多元领域的综合规划，并践行独具特色的一站式综合咨询服务模式，为客户达成整体解决方案，持续不懈打造宜居中国城市规划品牌。</p>
      </dd>
    </div>
  </div>
</div>

</div>
