<%= render partial: 'shared/thape_nav', locals: { nav_background: 'white', show_debug: true } -%>

<div class="sticky top-0 w-full mx-auto lg:p-4 xl:p-6 xl:px-12 xxl:px-24 xxxl:px-32">
  <header>
    <div class="w-full pt-10 pb-3 clearfix border-gray-200 border-solid border-b">
      <h1 class="inline-block pl-4 sm:pl-6 xl:pl-0 text-3xl font-bold text-black6c">
        <a href="#" class="hover:text-black6c-t70 focus:text-black6c-t70">
          <span class="pb-3 border-gray-900 border-solid border-b-4">所</span>有项目
        </a>
      </h1>
      <h2 class="inline-block text-2xl text-black6c">
        <a href="#" class="hover:text-black6c-t70 focus:text-black6c-t70">PROJECTS</a>
      </h2>
    </div>
  </header>
</div>

<%= render partial: 'shared/footer' %>
