<%= render partial: 'shared/thape_nav', locals: { nav_background: 'transparent', show_debug: false } -%>

<div class="bg-black">
  <%= image_pack_tag 'media/images/work-item-1.jpg', class: 'header-mask' -%>
</div>

<div class="w-full mx-auto sm:py-2 md:py-4 px-2 md:px-6 lg:px-8 xl:px-12 xxl:px-24 xxxl:px-32">
  <header class="py-3 leading-snug clearfix border-gray-200 border-solid border-b">
      <div class="inline-block">
        <h1 class="text-2xl font-bold text-black6c">
          青岛协信环球金融中心
        </h1>
        <h2 class="text-1xl text-black6c">
          QINGDAO WORLD FINANCIAL CENTER 
        </h2>
      </div>
      <div class="inline-block float-right text-sm">
        <ol>
          <li class="header-item">
            <a href="<%= root_path -%>" class="text-black6c">青岛 QINGDAO</a>
          </li>
          <li class="header-item-last">
            <a href="<%= works_path -%>" class="text-black6c">商务办公 OFFICE</a>
          </li>
        </ol>
      </div>
  </header>
  <main class="my-8">
    <div class="float-left space-y-4 mr-8">
      <div>
        <label class="text-sm font-light text-thape-copyright-gray">客户名称 CLIENT</label>
        <p class="font-normal">青岛南信控股集团 </p>
      </div>
      <div>
        <label class="text-sm font-light text-thape-copyright-gray">设计完成时间  ESIGN COMPLETION</label>
        <p class="font-normal">2018年10月 </p>
      </div>
      <div>
        <label class="text-sm font-light text-thape-copyright-gray">竣工时间 CONSTRUCTION COMPLETION</label>
        <p class="font-normal">2018年10月 </p>
      </div>
      <div>
        <label class="text-sm font-light text-thape-copyright-gray">所在城市 LOCATION</label>
        <p class="font-normal">青岛市崂山区金家岭金融商务区 </p>
      </div>
      <div>
        <label class="text-sm font-light text-thape-copyright-gray">建筑面积 SIZE</label>
        <p class="font-normal">307400㎡ </p>
      </div>
      <div>
        <label class="text-sm font-light text-thape-copyright-gray">服务范围 SERVICE</label>
        <p class="font-normal">概念-方案-扩初 </p>
      </div>
      <div>
        <label class="text-sm font-light text-thape-copyright-gray">设计团队 TEAM</label>
        <p class="font-normal">上海天华建筑十所 </p>
      </div>
      <div>
        <label class="text-sm font-light text-thape-copyright-gray">合作单位 COOPERATION</label>
        <p class="font-normal">/</p>
      </div>
    </div>
    <div>
      <div class="mb-4">
        <label class="text-sm font-light text-thape-copyright-gray">获奖 AWARDS</label>
        <p>2019 上海建筑学会建筑创作奖 佳作奖 </p>
        <p>2019 地产设计大奖·中国 优秀奖 </p>
        <p>2015 全国人居经典建筑 金奖</p>
      </div>
    </div>
  </main>
</div>
