<%= render partial: 'shared/thape_nav', locals: { nav_background: 'transparent', show_debug: false } -%>

<div class="bg-black">
  <%= image_pack_tag 'media/images/work-item-1.jpg', class: 'header-mask' -%>
</div>

<div class="w-full mx-auto sm:py-2 md:py-4 px-2 md:px-6 lg:px-8 xl:px-12 xxl:px-24 xxxl:px-32">
  <header class="py-3 leading-snug clearfix border-gray-200 border-solid border-b">
      <div class="inline-block">
        <h1 class="text-2xl font-bold text-black6c">
          青岛协信环球金融中心
        </h1>
        <h2 class="text-1xl text-black6c">
          QINGDAO WORLD FINANCIAL CENTER 
        </h2>
      </div>
      <div class="inline-block float-right text-sm">
        <ol>
          <li class="header-item">
            <a href="<%= root_path -%>" class="text-black6c">青岛 QINGDAO</a>
          </li>
          <li class="header-item-last">
            <a href="<%= works_path -%>" class="text-black6c">商务办公 OFFICE</a>
          </li>
        </ol>
      </div>
  </header>
</div>
