

<script type="text/javascript">
  tianhua2020 = JSON.parse("<%= j @tianhua2020.to_json.html_safe -%>");
</script>

<div id="tianhua2020_hype_container" class="HYPE_document" style="margin:auto;position:relative;width:370px;height:750px;overflow:hidden;">
  <div style="display: flex;justify-content:center;padding-top:200px"><img src="/timg.gif"></div>
  <script type="text/javascript" charset="utf-8" src="/tianhua2020.hyperesources/tianhua2020_hype_generated_script.js?56975"></script>
</div>
