<div id="thape-nav-container" class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-4 text-white cursor-pointer xxl:text-lg">
  <a href="#" class="mr-3 font-medium hover:text-gray-500 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out">介绍</a>·
  <a href="#" class="mx-3 font-medium hover:text-gray-500 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out">作品</a>·
  <a href="#" class="mx-3 font-medium hover:text-gray-500 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out">服务</a>·
  <a href="#" class="mx-3 font-medium hover:text-gray-500 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out">新闻</a>·
  <a href="#" class="mx-3 font-medium hover:text-gray-500 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out">招聘</a>·
  <a href="#" class="mx-3 font-medium hover:text-gray-500 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out">联系我们</a>·
  <svg class="ml-3 fill-current hover:text-gray-500 focus:outline-none focus:text-gray-500 transition duration-150 ease-in-out" width="25" height="25" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path>
  </svg>
</div>
