<div class="<%= person_class -%>">
  <%= image_tag person.avatar.url, class: 'grid-image grid-mask-image' -%>
  <div class="absolute text-white inset-x-0 bottom-0 mb-1">
    <p class="text-lg text-center font-medium"><%= link_to person.name, leadership_path(id: person.url_name) -%></p>
    <% titles = person.title.split(' ')  %>
    <p class="text-sm text-center font-light leading-none"><%= titles.first -%></p>
    <% if titles.length > 1 %>
      <p class="text-sm text-center font-light leading-none">...</p>
    <% end %>
  </div>
</div>
