<form action="<%= leadership_index_path -%>" method="GET" id="leadership-form" x-data="" class="sm:absolute sm:top-4 md:top-8 sm:right-2 md:right-6 lg:right-8 xl:right-10 xxl:right-12 xxxl:right-16 w-full sm:w-auto px-2 sm:px-0 my-4 sm:py-0">
  <div class="block sm:inline-block mx-auto sm:ml-2 mt-1 relative rounded-md shadow-sm">
    <input class="form-input block w-full sm:w-36 sm:w-40 pr-10" name="name" placeholder="<%= t('ui.keyword_search') -%>" value="<%= @search_name -%>" />
    <div class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer"
      x-on:click="document.getElementById('leadership-form').submit();">
      <svg class="h-6 w-6 text-gray-400" fill="currentColor">
        <path fill-rule="evenodd" d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>
</form>
