<form action="<%= leadership_index_path -%>" method="GET" id="leadership-form" x-data="">
  <div class="inline-block mt-1 ml-2 relative rounded-md shadow-sm">
    <input class="form-input block w-36 sm:w-40 pr-10" name="name" placeholder="关键词搜索" value="<%= @search_name -%>" />
    <div class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer"
      x-on:click="document.getElementById('leadership-form').submit();">
      <svg class="h-6 w-6 text-gray-400" fill="currentColor">
        <path fill-rule="evenodd" d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>
</form>
