<div class="w-screen h-screen bg-fixed bg-cover bg-no-repeat" style="background-image: url('<%= asset_pack_path('media/images/01_background.jpg') -%>')">

  <div x-data="{ open: false }" class="relative pt-6 pb-12 sm:pb-16 md:pb-20 lg:pb-28 xl:pb-32">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6">
      <nav class="relative flex items-center justify-between sm:h-10 md:justify-center">
        <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
          <div class="flex items-left justify-between w-full md:w-auto">
            <a href="#">
              <svg class="fill-current text-white inline-block h-6 p2 mt-2" viewBox="0 0 1157 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                  <g transform="matrix(1,0,0,1,-2556,-475)">
                      <g transform="matrix(1,0,0,1,2160,0)">
                          <g transform="matrix(1,0,0,1,438.941,479.476)">
                              <path d="M0,123.532L0,21.92L-42.022,21.92L-42.022,0L67.39,0L67.39,21.92L25.365,21.92L25.365,123.532L0,123.532Z" />
                          </g>
                          <g transform="matrix(1,0,0,1,0,2.484)">
                              <rect x="520.486" y="476.992" width="25.363" height="123.532" />
                          </g>
                          <g transform="matrix(1,0,0,1,647.859,527.918)">
                              <path d="M0,26.647L-20.466,-20.797L-40.777,26.647L0,26.647ZM20.745,75.09L8.69,47.189L-49.628,47.189L-61.511,75.09L-87.874,75.09L-32.284,-48.443L-8.316,-48.443L47.449,75.09L20.745,75.09Z" />
                          </g>
                          <g transform="matrix(1,0,0,1,802.141,479.476)">
                              <path d="M0,123.532L-67.341,43.089L-67.341,123.532L-92.533,123.532L-92.533,0L-75.003,0L-7.628,80.528L-7.628,0L17.564,0L17.564,123.532L0,123.532Z" />
                          </g>
                          <g transform="matrix(1,0,0,1,928.886,479.476)">
                              <path d="M0,123.532L0,70.153L-59.37,70.153L-59.37,123.532L-84.734,123.532L-84.734,0L-59.37,0L-59.37,48.062L0,48.062L0,0L25.363,0L25.363,123.532L0,123.532Z" />
                          </g>
                          <g transform="matrix(1,0,0,1,1033.04,479.475)">
                              <path d="M0,125.254C-16.984,125.254 -30.436,120.384 -39.978,110.779C-49.522,101.177 -54.361,87.295 -54.361,69.517L-54.361,0L-28.995,0L-28.995,68.655C-28.995,91.526 -19.454,102.645 0.174,102.645C19.683,102.645 29.168,91.526 29.168,68.655L29.168,0L54.188,0L54.188,69.517C54.188,87.292 49.38,101.173 39.895,110.776C30.408,120.384 16.986,125.254 0,125.254" />
                          </g>
                          <g transform="matrix(1,0,0,1,1179,527.918)">
                              <path d="M0,26.647L-20.466,-20.797L-40.778,26.647L0,26.647ZM20.745,75.09L8.689,47.189L-49.626,47.189L-61.511,75.09L-87.874,75.09L-32.283,-48.443L-8.314,-48.443L47.45,75.09L20.745,75.09Z" />
                          </g>
                          <g transform="matrix(1,0,0,1,1472.61,553.836)">
                              <path d="M0,49.225L0,27.363L-59.059,27.363L-59.059,8.59L0,8.59L0,0L20.401,0L20.401,8.59L79.671,8.59L79.671,27.363L20.401,27.363L20.401,49.225L0,49.225Z" />
                          </g>
                          <g transform="matrix(1,0,0,1,1454.53,554.836)">
                              <path d="M0,-79.566L-19.684,-79.566C-24.104,-67.171 -31.484,-56.186 -40.981,-47.462L-40.981,-23.771C-36.111,-26.968 -31.541,-30.587 -27.32,-34.57L-27.32,0L-8.475,0L-8.475,-58.904C-4.91,-65.383 -2.051,-72.304 0,-79.566" />
                          </g>
                          <g transform="matrix(1,0,0,1,1552.28,523.225)">
                              <path d="M0,-21.537L0,-40.696L-51.864,-25.265L-51.864,-47.954L-70.566,-47.954L-70.566,-19.701L-98.802,-11.3L-98.802,7.859L-70.566,-0.542L-70.566,7.997C-70.564,7.995 -70.563,7.995 -70.561,7.995L-70.561,8.018C-70.561,18.109 -62.438,26.29 -52.375,26.406L-52.375,26.417L0,26.417L0,7.859L-46.303,7.859C-49.344,7.822 -51.801,5.379 -51.864,2.343L-51.864,-6.106L0,-21.537Z" />
                          </g>
                          <g transform="matrix(1,0,0,1,1330.1,557.063)">
                              <path d="M0,-31.635L0,-58.8L54.722,-58.8L54.722,-77.574L-75.043,-77.574L-75.043,-58.8L-20.387,-58.8L-20.387,-31.635L-79.092,-31.635L-79.092,-12.784L-23.451,-12.784C-31.249,10.54 -53.265,27.408 -79.179,27.408L-79.201,27.408L-79.201,45.939L-79.179,45.939C-49.042,45.939 -22.951,28.686 -10.193,3.529C2.562,28.686 28.653,45.939 58.79,45.939L58.79,27.408C32.875,27.408 10.861,10.54 3.063,-12.784L58.811,-12.784L58.811,-31.635L0,-31.635Z" />
                          </g>
                      </g>
                  </g>
              </svg>
            </a>
            <div class="-mr-2 flex items-center md:hidden">
              <button @click="open = true" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0 text-white">
          <a href="#" class="font-medium hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">介绍</a>
          <a href="#" class="ml-10 font-medium hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">作品</a>
          <a href="#" class="ml-10 font-medium hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">服务</a>
          <a href="#" class="ml-10 font-medium hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">新闻</a>
          <a href="#" class="ml-10 font-medium hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">招聘</a>
          <a href="#" class="ml-10 font-medium hover:text-gray-900 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">联系我们</a>
        </div>
      </nav>
    </div>

    <div x-show="open" style="display: none;" class="absolute top-0 inset-x-0 p-2 md:hidden">
      <div class="rounded-lg shadow-md transition transform origin-top-right" x-show="open" x-transition:enter="duration-150 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95">
        <div class="rounded-lg bg-white shadow-xs overflow-hidden">
          <div class="px-5 pt-4 flex items-center justify-between">
            <div>
              <img class="h-6 w-auto" src="<%= asset_pack_path('media/images/logo.svg') -%>" alt="" />
            </div>
            <div class="-mr-2">
              <button @click="open = false" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
          <div class="px-2 pt-2 pb-3">
            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">介绍</a>
            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">作品</a>
            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">服务</a>
            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">新闻</a>
            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">招聘</a>
            <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">联系我们</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
