<div class="<%= news_class -%>">
  <%= image_tag news_image_url, class: 'grid-image' -%>
  <div class="grid-text-container left-2 bottom-2">
    <p class="text-left pb-1 font-medium"><%= title -%></p>
    <p class="text-sm text-left font-light leading-snug"><%= sub_title -%></p>
  </div>
</div>
