<%# Non-link tag that stands for skipped pages...
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="<%= fdsz('text-sm') -%> -mt-px border-t-2 border-transparent pt-4 px-4 inline-flex items-center leading-5 font-medium text-gray-500 cursor-default">
  <%= t('views.pagination.truncate').html_safe %>
</span>
