<%= render partial: 'shared/thape_nav', locals: { nav_background: 'white', show_debug: false } -%>

<div class="w-full mx-auto sm:py-4 md:py-8 px-2 md:px-6 lg:px-8 xl:px-10 xxl:px-12 xxxl:px-16">
  <%= render partial: 'shared/header', locals: { c: '企业文化', e: 'CORPORATE CULTURE', header_path: culture_path, header_class: 'pt-10' } %>
</div>

<%= render partial: 'shared/footer' %>
