@import "~@webwingscz/googlefont-montserrat/montserrat";
@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .rounded-xl {
    border-radius: 1.25rem;
  }
}

h-carousel {
  // 100vh - nav padding - height
  height: calc(100vh - 0.5rem - 2.5rem);
}

@media (min-width: 1024px) {
  .lg\:h-carousel {
    height: calc(100vh - 1rem - 2.5rem);
  }
}

@media (min-width: 1280px) {
  .xl\:h-carousel {
    height: calc(100vh - 1.5rem - 2.5rem);
  }
}

@media (min-width: 1536px) {
  .xxl\:h-carousel {
    height: calc(100vh - 2rem - 2.5rem);
  }
}

.w-18 {
  width: 4.5rem;
}

.filter-blur {
  filter: blur(2px);
}

.nav-background-initial {
  animation: animation-to-initial 1s;
  background: initial;
}

.nav-background-white {
  animation: animation-to-white 1s;
  background-color: rgba(255, 255, 255, 1);
}

@keyframes animation-to-white {
  0% {
    background-color: initial;
  }
  100% {
    background-color: rgba(255, 255, 255, 1);
  }
}

@keyframes animation-to-initial {
  0% {
    background-color: rgba(255, 255, 255, 1);
  }
  100% {
    background-color: initial;
  }
}
