@import "~@webwingscz/googlefont-montserrat/montserrat";
@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .rounded-xl {
    border-radius: 1.25rem;
  }
}

.grid-div {
  @apply relative overflow-hidden bg-black;
}

.grid-image {
  @apply w-full h-full transition duration-700 delay-100 ease-in-out transform;
}

.grid-mask-image {
  @apply w-full h-full transition duration-700 delay-100 ease-in-out transform;
  -webkit-mask-image: -webkit-gradient(linear, left 75%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.hover\:mask:hover {
  -webkit-mask-image: -webkit-gradient(linear, left 75%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.h1-cap {
  @apply border-gray-900 border-solid border-b-4;
  padding-bottom: .65rem;
}

.breadcrumb-item {
  display: inline-block;
  padding-left: .125rem;

  &::before {
    color: rgba(16,24,32,0.7);
    content: '>';
    display: inline-block; // Suppress underlining of the separator in modern browsers
    padding-right: .125rem;
  }
}

.header-item {
  display: inline-block;
  padding-left: .125rem;

  &::before {
    color: rgba(16,24,32,0.7);
    content: '|';
    display: inline-block;
    padding-right: .125rem;
  }
}

.header-item-last {
  display: inline-block;

  &::before {
    color: rgba(16,24,32,0.7);
    content: '|';
    display: inline-block;
    padding-right: .125rem;
  }

  &::after {
    color: rgba(16,24,32,0.7);
    content: '|';
    display: inline-block;
    padding-left: .125rem;
  }
}

.w-18 {
  width: 4.475rem;
}

.w-80 {
  width: 18rem;
}

.mr-45x {
  margin-right: 9.75rem;
}

@responsive {
  .mr-51x {
    margin-right: 12.875rem;
  }
}

.screen-min-height {
  min-height: calc(100vh - 14.125rem);
}

.filter-blur {
  filter: blur(2px);
}

.circle-border {
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  margin-right: .25rem;
  width: 25px;
}

.nav-background-initial {
  animation: animation-to-initial 1s;
  background: initial;
}

.nav-background-white {
  animation: animation-to-white 1s;
  background-color: rgba(255, 255, 255, 1);
}

.map-dot-b::before {
  content: "⦿";
}

.map-dot-a::after {
  content: "⦿";
}

.map-star-b::before {
  content: "★";
}

.map-star-a::after {
  content: "★";
}

p {
  text-align: justify;
}

@keyframes animation-to-white {
  0% {
    background-color: initial;
  }
  100% {
    background-color: rgba(255, 255, 255, 1);
  }
}

@keyframes animation-to-initial {
  0% {
    background-color: rgba(255, 255, 255, 1);
  }
  100% {
    background-color: initial;
  }
}

#thape-top-header {
  position: fixed;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  @apply nav-background-initial;
  height: 50px;
  z-index: 100;
  a {
    @apply text-thape-white-t80 transition duration-150 ease-in-out;
    font-size: 16px;
    &:hover {
      @apply text-white font-semibold;
    }
    &:focus {
      @apply outline-none text-white;
    }
    &.active {
      @apply text-white font-semibold;
    }
  }

  &>.logo {
    margin-left: 2rem;
    a {
      @apply text-thape-white-t80;
      &:hover, &:focus {
        @apply text-white;
      }
    }
    svg {
      @apply fill-current h-8 w-48 h-10;
    }
  }
  
  nav {
    display: flex;
    &>.nav-item {
      @apply px-3;
      &:last-child {
        padding-right: 0;
      }
    }

    @media (min-width: 1500px) {
      &>.nav-item {
        @apply px-4;
      }
    }
    
    &>.nav-point {
      display: flex;
      align-items: center;
      @apply text-thape-white-t80;
    }
    
    &.level-1 {
      margin-right: 2rem;
      height: 100%;
    }
    
    &.level-1>.nav-item {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .nav-item {
      >nav {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        @apply nav-background-initial border-gray-200 border-solid border-t;
        a {
          font-size: 14px;
        }
      }
      &:hover {
        >a {
          @apply text-white font-semibold;
        }
        >nav {
          display: flex;
        }
      }
    }
    
    &.intro {
      padding-right: 15.3rem;
      height: 50px;
      align-items: center;
      justify-content: flex-end;
      @media (min-width: 1500px) {
        & {
          padding-right: 17.3rem;
        }
      }
    }

    &.works {
      padding-right: 2.6rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      justify-content: flex-end;
      @media (min-width: 1500px) {
        & {
          padding-right: 5.8rem;
        }
      }
      >.nav-item {
        &:hover>a {
          @apply text-black6c font-semibold;
        }
        &:first-child {
          width: 18rem;
        }
        &:nth-child(2) {
          width: 10rem;
        }
        .list {
          display: flex;
          margin-top: .5rem;
          .list-item {
            position: relative;
            width: 50%;
            a {
              font-size: 12px;
            }
            nav {
              position: absolute;
              top: 0;
              left: 100%;
              width: 100%;
              height: 100%;
              border: none;
              flex-direction: column;
              .nav-item {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
              }
            }
          }
        }
      }
    }
    
    &.service {
      padding-right: 2rem;
      height: 50px;
      align-items: center;
      justify-content: flex-end;
      >.nav-item {
        padding-left: .78rem;
        padding-right: .78rem;
        &:last-child {
          padding-right: 0;
        }
      }
      @media (min-width: 1500px) {
        >.nav-item {
          padding-left: .98rem;
          padding-right: .98rem;
        }
      }
    }
  }

  #header-search-form {
    position: relative;
    display: none;
    margin-right: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 35rem;
    height: calc(100% - 10px);
    align-items: center;
    padding: 1rem 0 .5rem 2rem;
    @apply border-gray-200 border-solid border-b;
    input {
      flex: 1 1 100%;
      width: 100%;
      outline: none;
      border: none;
      background: transparent;
      &:focus {
        outline: none;
        border: none;
      }
      &::placeholder {
        @apply text-thape-white-t80
      }
    }
    button {
      position: absolute;
      left: 0;
      @apply text-thape-white-t80
    }
  }

  &:hover {
    @apply nav-background-white;
    nav {
      &>.nav-point {
        @apply text-thape-copyright-gray;
      }
      nav {
        @apply nav-background-white;
      }
    }
    .nav-item:hover {
      >a {
        @apply text-black6c font-semibold;
      }
    }
    a {
      @apply text-thape-copyright-gray;
      &:hover, &:focus {
        @apply text-black6c font-semibold;
      }
      &.active {
        @apply text-black6c font-semibold;
      }
    }
    >.logo {
      a {
        @apply text-black6c;
        &:hover, &:focus {
          @apply text-black6c-t70;
        }
      }
    }
    #header-search-form {
      input::placeholder {
        @apply text-thape-copyright-gray;
      }
      button {
        @apply text-thape-copyright-gray;
      }
    }
  }
  
  &.active {
    @apply nav-background-white;
    nav {
      &>.nav-point {
        @apply text-thape-copyright-gray;
      }
      nav {
        @apply nav-background-white;
      }
    }
    a {
      @apply text-thape-copyright-gray;
      &:hover, &:focus {
        @apply text-black6c font-semibold;
      }
      &.active {
        @apply text-black6c font-semibold;
      }
    }
    >.logo {
      a {
        @apply text-black6c;
        &:hover, &:focus{
          @apply text-black6c-t70;
        }
      }
    }
    #header-search-form {
      input::placeholder {
        @apply text-thape-copyright-gray;
      }
      button {
        @apply text-thape-copyright-gray;
      }
    }
  }
}