.nav-background-initial {
  animation: animation-to-initial .3s;
  background: initial;
}

.nav-background-white {
  animation: animation-to-white .3s;
  background-color: rgba(255, 255, 255, 1);
}

.thape-header-fixed {
  position: fixed;
  z-index: 1000;
}

.thape-header {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  @apply text-thape-white-t80 nav-background-initial px-2;

  @screen md {
    @apply px-6;
    height: 60px;
  }
  @screen lg {
    @apply px-8;
  }
  @screen xl {
    @apply px-10;
  }
  @screen xxl {
    @apply px-12;
    height: 80px;
  }
  @screen xxxl {
    @apply px-16;
  }

  // 默认文字样式
  a, span {
    color: inherit;
    @apply text-base;
  }

  nav {
    display: flex;

    &>.nav-item {
      @apply px-3;
      &:last-child {
        padding-right: 0;
      }
      @screen xxl {
        @apply px-4;
      }
    }

    &>.nav-point {
      display: flex;
      align-items: center;
    }

    .nav-item {

      >nav {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        @apply nav-background-initial border-gray-200 border-solid border-t;

        a, span {
          @apply text-sm;
        }
      }

      &:hover>nav {
        display: flex;
      }
    }

    .nav-item:hover>a, .nav-item:hover>span, a.active, span.active {
      @apply text-white font-semibold;
    }

    &.intro {
      align-items: center;
      height: calc(100% - 20px);
      justify-content: flex-end;
      padding-right: 13.7rem;

      @screen md {
        padding-right: 14.6rem;
      }
      @screen lg {
        padding-right: 15.26rem;
      }
      @screen xl {
        padding-right: 15.8rem;
      }
      @screen xxl {
        padding-right: 18.2rem;
      }
      @screen xxxl {
        padding-right: 19.2rem;
      }
    }

    &.works {
      justify-content: flex-end;
      padding: .5rem 1.16rem .25rem 0;

      @screen md {
        padding-right: 2.16rem;
      }
      @screen lg {
        padding-right: 2.66rem;
      }
      @screen xl {
        padding-right: 3.2rem;
      }
      @screen xxl {
        padding-right: 6.88rem;
      }
      @screen xxxl {
        padding-right: 7.84rem;
      }

      >.nav-item {

        &:first-child {
          width: 16rem;
        }

        &:nth-child(2) {
          width: 12rem;
        }

        .list {
          display: flex;
          margin-top: .5rem;

          .list-item {
            position: relative;
            width: 50%;

            a, span {
              @apply text-xs;
            }

            nav {
              position: absolute;
              top: 0;
              left: 100%;
              width: 100%;
              height: 100%;
              border: none;
              flex-direction: column;

              .nav-item {
                width: 125%;
                padding-left: 0;
                padding-right: 0;
              }
            }
          }
          &.area {
            .list-item {
              .nav-item {
                nav {
                  align-items: flex-start;
                  justify-content: flex-start;
                  flex-wrap: wrap;
                  .nav-item {
                    padding-right: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.service {
      align-items: center;
      height: calc(100% - 20px);
      justify-content: flex-end;
      @apply pr-2;

      @screen md {
        @apply pr-6;
      }
      @screen lg {
        @apply pr-8;
      }
      @screen xl {
        @apply pr-10;
      }
      @screen xxl {
        @apply pr-12;
      }
      @screen xxxl {
        @apply pr-16;
      }

      >.nav-item {
        padding: 0 .78rem;

        @screen md {
          padding: 0 .78rem;
        }
        @screen lg {
          padding: 0 .768rem;
        }
        @screen xl {
          padding: 0 .77rem;
        }
        @screen xxl {
          padding: 0 .98rem;
        }
        @screen xxxl {
          padding: 0 .982rem;
        }

        &:last-child {
          padding-right: 0;
        }

      }
    }
  }

  > nav {
    display: none;
    height: 100%;

    @screen md {
      display: flex;
    }

    >.nav-item {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  #header-search-form {
    position: relative;
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 35rem;
    height: calc(100% - 10px);
    align-items: center;
    padding: 0 0 0 1.8rem;
    @apply border-gray-200 border-solid border-b;

    input {
      margin-top: 2px;
      flex: 1 1 100%;
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      background: transparent;
      &:focus {
        outline: none;
        border: none;
      }
    }
    button {
      position: absolute;
      left: 0;
      top: calc(50% - 0.75rem);
    }
    input, input::placeholder, button {
      @apply text-thape-white-t80;
    }
  }

  &:hover, &.active {
    @apply text-thape-copyright-gray nav-background-white;

    nav {
      &>.nav-point {
        @apply text-thape-copyright-gray;
      }
      nav {
        @apply nav-background-white;
      }
    }

    .nav-item:hover>a, .nav-item:hover>span, a.active, span.active {
      @apply text-black6c font-semibold;
    }

    >.logo {
      a:hover, a:focus{
        @apply text-black6c-t70;
      }
    }
  
    #header-search-form {
      input, input::placeholder, button {
        @apply text-thape-copyright-gray;
      }
    }
  }


  &.big-font {
    a, span {
      @apply text-xl;
    }
    
    >nav .nav-item nav {
      a, span {
        @apply text-base #{!important};
      }
    }
  }

  // 英文版
  &:lang(en) {
    nav {
      &.intro {
        padding-right: 10rem;

        @screen md {
          padding-right: 9.48rem;
        }
        @screen lg {
          padding-right: 12rem;
        }
        @screen xl {
          padding-right: 12.6rem;
        }
        @screen xxl {
          padding-right: 15rem;
        }
        @screen xxxl {
          padding-right: 16rem;
        }
      }

      // 作品
      &.works {
        padding-right: 0.6rem;

        @screen md {
          padding-right: 0.2rem;
        }
        @screen lg {
          padding-right: 2rem;
        }
        @screen xl {
          padding-right: 2.6rem;
        }
        @screen xxl {
          padding-right: 2.8rem;
        }
        @screen xxxl {
          padding-right: 4rem;
        }

        >.nav-item {
          &:first-child {
            width: 26rem;
          }
          &:nth-child(2) {
            width: 28rem;
          }
        }
      }
    }
  }
  .aside-menu-button {
    display: block;
    @apply rounded-md text-thape-white-t80 transition duration-150 ease-in-out;

    @screen md {
      display: none;
    }

    &, &:focus {
      outline: none;
    }
  }
  &.active .aside-menu-button {
    @apply text-gray-400;
  }
  &:hover .aside-menu-button {
    @apply text-gray-400;
  }
  .aside-menu {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: transparent;

    @screen md {
      display: none;
    }

    .aside-menu-container {
      @apply p-6 nav-background-white shadow-md border-gray-200 border-solid border-t;

      .aside-menu-item {
        a {
          display: block;
          margin-bottom: .5rem;
        }

        .aside-menu-children {
          padding-left: 1rem;
        }
      }
    }
  }
}
