.publications {
  .list {
    .item {
      .cover {
        position: relative;
        padding-bottom: 121.5%;

        $base_y: -15deg;

        $front_y: $base_y + -12deg;
        $hover_front_y: $base_y + -119deg;

        $page1_y: $base_y + -10deg;
        $hover_page1_y: $base_y + -114deg;

        $page2_y: $base_y + -8deg;
        $hover_page2_y: $base_y + -104deg;

        $page3_y: $base_y + -6deg;
        $hover_page3_y: $base_y + -92deg;

        $page4_y: $base_y + -4deg;
        $hover_page4_y: $base_y + -9deg;

        $page5_y: $base_y + -2deg;
        $hover_page5_y: $base_y + -4deg;

        $back_y: $base_y;

        .wrapper {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;

          .btn {
            color: #2c3e50;
            text-decoration: none;
            text-transform: uppercase;
            border: 2px solid #2c3e50;
            font-size: 0.7em;
            font-weight: 700;
            padding: 0.1em 0.4em;
            text-align: center;
            transition: color 0.3s, border-color 0.3s;

            &:hover {
              border-color: #16a085;
              color: #16a085;
            }
          }

          .book {
            position: relative;
            width: 100%;
            height: 100%;
            perspective: 1000px;
            transform-style: preserve-3d;

            .book-front {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 100;
              transform: rotateY($front_y);
              transform-origin: left center;
              transition: all 0.8s ease;
              transform-style: preserve-3d;

              >:first-child {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateZ(1px);

                img {
                  width: 100%;
                  height: 100%;
                }
              }
              >:last-child {
                position: absolute;
                top: 4px;
                bottom: 4px;
                left: 0;
                right: 4px;
                background: #fffbec;
                transform: translateZ(0);

                &::before {
                  content: '';
                  position: absolute;
                  bottom: -4px;
                  left: 0;
                  width: 100%;
                  height: 4px;
                  box-shadow: 0px 0px 30px 5px #333;
                  transform: rotateX(80deg);
                }

                &::after {
                  content: '';
                  position: absolute;
                  top: -4px;
                  left: 0;
                  width: 100%;
                  height: 4px;
                  background: #999;
                  transform: rotateX(80deg);
                }
              }
            }

            &:hover {
              .book-front {
                transform: rotateY($hover_front_y);
              }
            }

            .book-page {
              .book-page-item {
                position: absolute;
                top: 5px;
                bottom: 5px;
                left: 0;
                right: 5px;
                backface-visibility: visible;
                transition-timing-function: ease;
                transition-property: transform;
                transform-origin: left center;
                background: linear-gradient(to right, #e1ddd8 0%, #fffbf6 100%);
                box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
                border-radius: 0px 5px 5px 0px;

                &:nth-child(1) {
                  transition-duration: 0.6s;
                  transform: rotateY($page1_y);
                }

                &:nth-child(2) {
                  transition-duration: 0.5s;
                  transform: rotateY($page2_y);
                }
                &:nth-child(3) {
                  transition-duration: 0.4s;
                  transform: rotateY($page3_y);
                }
                &:nth-child(4) {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transition-duration: 0.6s;
                  transform: rotateY($page4_y);
                }
                &:nth-child(5) {
                  transition-duration: 0.6s;
                  transform: rotateY($page5_y);
                }
              }
            }

            &:hover {
              .book-page {
                .book-page-item {
                  &:nth-child(1) {
                    transform: rotateY($hover_page1_y);
                    transition-duration: 1.2s;
                  }
                  &:nth-child(2) {
                    transform: rotateY($hover_page2_y);
                    transition-duration: 1.4s;
                  }
                  &:nth-child(3) {
                    transform: rotateY($hover_page3_y);
                    transition-duration: 1.6s;
                  }
                  &:nth-child(4) {
                    transform: rotateY($hover_page4_y);
                    transition-duration: 1.8s;
                  }
                  &:nth-child(5) {
                    transform: rotateY($hover_page5_y);
                    transition-duration: 1.5s;
                  }
                }
              }
            }

            .book-back {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: rotateY($back_y);
              transform-origin: left center;
              transform-style: preserve-3d;

              >:first-child {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: translateZ(-1px);

                img {
                  width: 100%;
                  height: 100%;
                }
              }
              >:last-child {
                position: absolute;
                top: 4px;
                bottom: 4px;
                left: 0;
                right: 4px;
                background: #fffbec;
                transform: translateZ(0);

                &::before {
                  content: '';
                  position: absolute;
                  bottom: -4px;
                  left: 0;
                  width: 100%;
                  height: 4px;
                  box-shadow: 0px 0px 30px 5px #333;
                  transform: rotateX(80deg);
                }

                &::after {
                  content: '';
                  position: absolute;
                  top: -4px;
                  left: 0;
                  width: 100%;
                  height: 4px;
                  background: #999;
                  transform: rotateX(80deg);
                }
              }
            }

            .book-spine {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;

              &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 1px;
                height: 4px;
                background: #999;
                box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
                transform: rotateX(80deg);
              }

              &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 1px;
                height: 4px;
                background: #999;
                transform: rotateX(80deg);
              }
            }
          }
        }
      }
      .description {
        text-align: left;
      }
    }
  }
}