<div class="w-1/2 leading-loose">
  <h1 class="text-2xl font-medium"><%= m.long_name -%></h1>
  <label class="float-left">地址：</label>
    <p class="ml-20"><%= m.address -%></p>
  <label class="float-left">电话：</label>
    <p class="ml-20"><%= m.tel -%></p>
  <% if m.fax.present? %>
  <label class="float-left">传真：</label>
    <p class="ml-20"><%= m.fax -%></p>
  <% end %>
</div>
