<%= render partial: 'shared/thape_nav'  -%>

<div class="w-full screen-min-height mx-auto sm:py-4 md:py-8 px-24 md:px-32 lg:px-40 xl:px-48 xxl:px-56 xxxl:px-64">
  <%= render partial: 'shared/header', locals: { c: '免责条款', e: 'TERMS OF DISCLAIMER',
    header_path: disclaimer_sites_path, header_class: 'pt-16', show_header_right: false } %>

  <main class="my-4 lg:my-2 xl:my-0">
    <h1 class="text-xl font-bold text-black6c pt-2 my-2">1. 免责声明</h1>
    <p class="text-base font-normal leading-relaxed">本网站中的信息可能不准确或有排字错误，所有信息均“按现状”提供，不附任何明示、默示担保，包括但不仅限于：有关准确性、完整性、适销性、不侵犯知识产权、适宜特定用途的担保；或者网站上显示或通过网站分发的任何建议、意见、陈述或其他信息的可靠性担保。您认可依赖此等建议、意见、陈述、备忘录或信息所致的风险由您自负。上海天华建筑设计有限公司（以下简称天华）有权自行酌情更正网站任何部分的错误或遗漏。天华可以随时更改网站及网站中的材料、产品或信息，恕不另行通知。天华或其许可人/提供商对因使用或不能使用信息而导致的任何损害（包括但不仅限于利润损失、业务中断、信息遗失）不负任何责任，即使天华事先曾被告知发生此等损害的可能性也是如此。天华不担保网站功能不会中断或无错误，不担保此等缺陷会得到纠正，不担保网站或服务器不存在病毒或其他有害组件。您理解并同意，您自行决定使用网站下载、获得信息，相关风险由您自负，因下载信息而造成的计算机系统损害或数据丢失亦由您自负，除非天华在销售合同中另行书面同意，在适用法允许的范围内，天华不对本网站的资料承担任何责任，不论该责任因何原因引起或者基于何种侵权理论。天华不对通过网站购买、获得的货物以及通过网站达成的交易提供任何担保。天华不应对间接、附带、特殊或任何形式的惩罚性赔偿承担任何责任，也不应对任何利润、收入、数据、数据使用的损失承担任何责任。</p>

    <h1 class="text-xl font-bold text-black6c pt-2 my-2">2. 国际使用</h1>
    <p class="text-base font-normal leading-relaxed">本网站由天华运营和控制。由于互联网的全球性质，中国以外国家/地区的用户也可能访问本网站。我们不保证本网站上的材料适宜或可用于此等地点。如果访问、使用本网站在您所在国家/地区构成非法或被禁止行为，请不要从事前述行为。如在中国境外选择访问本网站，则此等行为系出于您自愿，并请负责遵守所有当地法律法规。</p>
  </main>
</div>

<%= render partial: 'shared/footer' %>




